<%
url_path = request.env['PATH_INFO'].to_s
wid = params[:wid] if params[:wid]
sid = params[:sid] if params[:sid]
stake_pools = session[:stake_pools] 
wallets = session[:wallets]
join_ep = "/stake-pools-join"
quit_ep = "/stake-pools-quit"
%>
<div class="list-group">
  <div class="list-group-item">
    <form action="<%= (url_path.include? "join") ? join_ep : quit_ep %>" method="POST">
      <div class="form-group">
        <label for="wid">Wallet</label>
        <select class="form-control" name="wid" id="wid">
          <% wallets.each do |w| %>
          <option <%= wid == w['id'] ? "selected" : "" %> value="<%= w['id'] %>"> 
            <%= "#{w['name']} [id: #{w['id']}, balance available: #{w['balance']['available']['quantity']} , delegation: #{w['delegation']}]" %> 
          </option>      
          <% end %>
        </select>      
      </div>
      
      <div class="form-group">
        <label for="pass">Passphrase</label>
        <input type="text" class="form-control" name="pass" id="pass" placeholder="Passphrase" value="Secure Passphrase">
      </div>

      <div class="form-group">
        <label for="spid">Stake pool</label>
        <select class="form-control" name="spid" id="spid">
          <% stake_pools.each do |s| %>
          <option <%= sid == s['id'] ? "selected" : "" %> value="<%= s['id'] %>">
            <%= "#{s['id']} [perf: #{s['apparent_performance']}]" %></option>      
          <% end %>
        </select>
      </div>

      
      <button type="submit" class="btn btn-success"><%= (url_path.include? "join") ? "Join" : "Quit" %></button>
    </form>
  </div>
</div>