<%
  url_path = request.env['PATH_INFO'].to_s
  shelley_ep = "/create-acc-pub-key"
  shared_ep = "/shared-create-acc-pub-key"
%>
<div class="list-group">
  <div class="list-group-item">
     Create account public key
     | <small><a href="<%= back_to_wallet(url_path, wid) %>">
             go back to wallet
           </a></small>
  </div>
  <div class="list-group-item">
    <form action="<%= pick_post_ep(url_path, nil, shelley_ep, shared_ep) %>" method="POST">
      <div class="form-group">
        <label for="wid">Wallet</label>
        <select class="form-control" name="wid" id="wid">
          <% wallets.each do |w| %>
          <option <%= wid == w['id'] ? "selected" : "" %> value="<%= w['id'] %>">
            <%= "#{w['name']} [id: #{w['id']}]" %>
            <%# , balance available: #{w['balance']['available']['quantity']} %>
          </option>
          <% end %>
        </select>
      </div>
      <div class="form-group">
        <label for="index">Index</label>
        <input type="text" class="form-control" name="index" id="index"
            placeholder="" value="<%= index %>">
        <small id="help" class="form-text text-muted">Example: 1852H. An individual segment within a derivation path.</small>
      </div>
      <% unless url_path.include?('shared') %>
      <div class="form-group">
        <label for="index">Purpose</label>
        <input type="text" class="form-control" name="purpose" id="purpose"
            placeholder="" value="<%= purpose %>">
        <small id="help" class="form-text text-muted">Example: 1852H, 1854H. Purpose segment in the derivation path. (optional)</small>
      </div>
      <% end %>

      <div class="form-group">
        <label for="role">Format</label>
        <select class="form-control" name="format" id="format">
          <option <%= "selected" if format == "extended" %> value="extended">extended</option>
          <option <%= "selected" if format == "non_extended" %> value="non_extended">non_extended</option>
        </select>
      </div>
      <div class="form-group">
        <label for="index">Passphrase</label>
        <input type="text" class="form-control" name="pass" id="pass"
            placeholder="Passphrase" value="Secure Passphrase">
      </div>

      <button type="submit" class="btn btn-success">Create public key</button>
    </form>
  </div>

  <% if session[:error] %>
        <div class="alert alert-danger" role="alert">
          <%= session[:error]%>
        </div>
  <%
        session.delete :error
     end
  %>

  <% if acc_pub_key %>
  <div class="list-group-item"  >
    <small id="acc_pub_key">
      Response:<br/>
        <%= acc_pub_key %>
        <br/><br/><%= generate_curl(acc_pub_key) %>
    </small>
  </div>
  <% end %>
</div>
