<%
  # wallets = wallets
  url_path = request.env['PATH_INFO'].to_s
  shelley_ep = "/balance-tx-shelley"
  shared_ep = "/balance-tx-shared"
  wid = params[:wid] if params[:wid]
%>

<div class="list-group">
  <div class="list-group-item">
    Balance Transaction ⚖️️
    | <small>
      <a href="<%= back_to_wallet(url_path, wid) %>">
        go back to wallet
      </a></small>
  </div>
  <div class="list-group-item">

    <form action="<%= pick_post_ep(url_path, nil, shelley_ep, shared_ep)%>"
        method="POST">
      <div class="form-group">
        <label for="wid">Source Wallet</label>
        <select class="form-control" name="wid" id="wid">
          <% wallets.each do |w| %>
          <option <%= wid == w['id'] ? "selected" : "" %> value="<%= w['id'] %>">
            <%= "#{w['name']} [id: #{w['id']}, balance available: #{w['balance']['available']['quantity']}]" %>
          </option>
          <% end %>
        </select>
      </div>


      <div id="payload">
        <div class="form-group">
          <label for="payment_script_template">Payload</label>
          <textarea class="form-control" name="payload" id="payload" rows="10"></textarea>
          <small id="help_payload" class="form-text text-muted">
            <details>
              <summary>Examplary Plutus Transaction</summary>
                <pre>
{
    "transaction": "84a500800d80018183581d704d72cf569a339a18a7d9302313983f56e0d96cd45bdcb1d6512dca6a1a001e84805820923918e403bf43c34b4ef6b48eb2ee04babed17320d8d1b9ff9ad086e86f44ec02000e80a10481d87980f5f6",
    "redeemers": [],
    "inputs": []
}

                </pre>
            </details>
          </small>
        </div>

      </div>
      <br/>
      <button type="submit" class="btn btn-success">Balance</button>

    </form>
  </div>
  <% if session[:error] %>
        <div class="alert alert-danger" role="alert">
          <%= session[:error]%>
        </div>
  <%
        session.delete :error
     end
  %>
</div>
