<%
# wallets = wallets
url_path = request.env['PATH_INFO'].to_s
byron_ep = "/byron-tx-between-wallets"
shelley_ep = "/tx-between-wallets"
wid = params[:wid] if params[:wid]
%>
<div class="list-group">
  <div class="list-group">
    <div class="list-group-item">
      Transaction between Shelley wallets
      | <small><a href="<%= back_to_wallet(url_path, wid) %>">
          go back to wallet
        </a></small>
    </div>
  <div class="list-group-item">
    <form action="<%= pick_post_ep(url_path, byron_ep, shelley_ep, nil) %>" method="POST">
      <div class="form-group">
        <label for="wid_src">Source Wallet</label>
        <select class="form-control" name="wid_src" id="wid_src">
          <% wallets.each do |w| %>
          <option <%= wid == w['id'] ? "selected" : "" %> value="<%= w['id'] %>">
            <%= "#{w['name']} [id: #{w['id']}, balance available: #{w['balance']['available']['quantity']}]" %>
          </option>
          <% end %>
        </select>
      <div class="form-group">
        <label for="pass">Passphrase</label>
        <input type="text" class="form-control" name="pass" id="pass" placeholder="Passphrase" value="Secure Passphrase">
      </div>
      <%= render_amount_form_part(wallets.select{|w| w['id'] == wid }.first['balance']) %>
      <%= render_assets_form_part(wallets.select{|w| w['id'] == wid }.first['assets']['available']) %>

      <div class="form-group">
        <label for="wid_dst">Destination Wallet</label>
        <select class="form-control" name="wid_dst" id="wid_dst">
          <% wallets.each do |w| %>
          <option value="<%= w['id'] %>"> <%= "#{w['name']} [id: #{w['id']}, balance total: #{w['balance']['total']['quantity']}]" %> </option>
          <% end %>
        </select>
        <small id="help" class="form-text text-muted">I will pick up an unused address from that wallet and send funds to it.</small>
      </div>

      <% unless (url_path.include? "byron") %>
        <%= render_tx_shelley_form_part %>
      <% end %>

      <button type="submit" class="btn btn-success">Send Tx</button>
      (or <a href="/tx-to-address?wid=<%= wid %>">send to address</a>
      / <a href="/tx-to-multi-address?wid=<%= wid %>">many addresses</a>)
    </form>
  </div>
</div>
