<%
  # wallets = wallets
  url_path = request.env['PATH_INFO'].to_s
  shelley_ep = "/submit-tx-shelley"
  byron_ep = "/submit-tx-byron"
  wid = params[:wid] if params[:wid]
%>

<script>
function goBack() {
  window.history.back();
}
</script>
<div class="list-group">
  <div class="list-group-item">
    Submit Transaction 🚀
    | <small><a href="#" onclick="goBack()">
        go back
      </a></small>
  </div>
  <div class="list-group-item"  >
    <% if decoded_tx['fee'] %>
      <b>Fee: </b> <%= "#{decoded_tx['fee']['quantity']} #{decoded_tx['fee']['unit']}" %>
      <br/>
      <br/>
    <% end %>
    <form action="<%= url_path.include?('shelley') ? shelley_ep : byron_ep %>" method="POST">
      <input type="hidden" name="wid" value="<%= wid %>"/>
      <input type="hidden" name="transaction" value="<%= tx['transaction'] %>"/>
      <button type="submit" class="btn btn-success">Submit</button>
      <a class="btn btn-secondary" href="#" role="button" onclick="goBack()">Back</a>
    </form>
  </div>
  <% if tx %>
  <div class="list-group-item"  >
    <details>
      <summary>Transaction details</summary>
        <code>
          <small id="tx">
              <%= response2table(tx) %>
          </small>
          <% if decoded_tx %>
            <small id="decoded_tx">
                <%= response2table(decoded_tx) %>
            </small>
          <% end %>
        </code>
    </details>

  </div>
  <% end %>
</div>
