<%
  url_path = request.env['PATH_INFO'].to_s
  wid = params[:wid] if params[:wid]
  byron_ep = "/byron-wallets"
  shelley_ep = "/wallets"
%>
<div class="list-group">
  <div class="list-group-item">
     Coin Selection - random
     | <small><a href="<%= (url_path.include? "byron") ? byron_ep : shelley_ep %>/<%= wid %>">
             go back to wallet
           </a></small>
  </div>
  <div class="list-group-item">
    <form action="<%= (url_path.include? "byron") ? byron_ep : shelley_ep %>/coin-selection/random" method="POST">
      <div class="form-group">
        <label for="wid">Source Wallet</label>
        <select class="form-control" name="wid" id="wid">
          <% wallets.each do |w| %>
          <option <%= wid == w['id'] ? "selected" : "" %> value="<%= w['id'] %>">
            <%= "#{w['name']} [id: #{w['id']}, balance available: #{w['balance']['available']['quantity']}]" %>
          </option>
          <% end %>
        </select>
      </div>
      <%= render_addr_amt(addr_amt) %>
      <%= render_assets_form_part(wallets.select{|w| w['id'] == wid }.first['assets']['available'], multi = true, assets, params[:assets_strategy]) %>

      <% unless (url_path.include? "byron") %>
        <%= render_withdrawal_form_part(withdrawal) %>
        <%= render_metadata_form_part(metadata) %>
      <% end %>

      <button type="submit" class="btn btn-success">Verify</button>
    </form>
  </div>

  <% if session[:error] %>
        <div class="alert alert-danger" role="alert">
          <%= session[:error]%>
        </div>
  <%
        session.delete :error
     end
  %>

  <% if coin_selection %>
  <div class="list-group-item"  >
    <small id="coin_selection">
      <% if coin_selection['inputs'] %>
      <b>Inputs:</b><%= coin_selection['inputs'].size if coin_selection['inputs'] %><br/>
      <b>Outputs:</b><%= coin_selection['outputs'].size if coin_selection['outputs'] %><br/>
      <b>Change:</b><%= coin_selection['change'].size if coin_selection['change'] %><br/>
      <% end %>
        <%= response2table(coin_selection) %>
    </small>
  </div>
  <% end %>
</div>
