<%
 # wallets = wallets
url_path = request.env['PATH_INFO'].to_s
shelley_ep = "/decode-tx-shelley"
shared_ep = "/decode-tx-shared"
wid = params[:wid] if params[:wid]
%>
<div class="list-group">
  <div class="list-group-item">
     Decode Serialized Transaction 👀
     | <small>
       <a href="<%= back_to_wallet(url_path, wid) %>">
         go back to wallet
       </a></small>
  </div>
  <div class="list-group-item">
    <form action="<%= pick_post_ep(url_path, nil, shelley_ep, shared_ep) %>" method="POST">
      <div class="form-group">
        <label for="wid">Source Wallet</label>
        <select class="form-control" name="wid" id="wid">
          <% wallets.each do |w| %>
          <option <%= wid == w['id'] ? "selected" : "" %> value="<%= w['id'] %>">
            <%= "#{w['name']} [id: #{w['id']},
            balance available: #{w['state']['status'] != "incomplete" ? w['balance']['available']['quantity'] : 'N/A'}]" %>
          </option>
          <% end %>
        </select>
      </div>
      <div class="form-group">
        <textarea class="form-control" name="serialized_tx" id="serialized_tx" rows="3"><%= serialized_tx if serialized_tx %></textarea>
        <small id="help" class="form-text text-muted">Base64/Base16 encoded tx.</small>
      </div>

      <button type="submit" class="btn btn-success">Decode</button>
      <a class="btn btn-secondary" href="<%= back_to_wallet(url_path, wid) %>" role="button">Back</a>
    </form>
  </div>

  <% if tx %>
  <div class="list-group-item"  >
    <small id="response_details">
        <%= response2table(tx) %>
    </small>
  </div>
  <% end %>
</div>
