<%
 # wallets = wallets
url_path = request.env['PATH_INFO'].to_s
byron_ep = "/byron-tx-to-address"
shelley_ep = "/tx-to-address"
wid = params[:wid] if params[:wid]
%>
<div class="list-group">
  <div class="list-group-item">
    Transaction
    | <small><a href="<%= (url_path.include? "byron") ? "/byron-wallets/#{wid}" : "/wallets/#{wid}" %>">
        go back to wallet
      </a></small>
  </div>
  <div class="list-group-item">
    <form action="<%= (url_path.include? "byron") ? byron_ep : shelley_ep %>" method="POST">
      <div class="form-group">
        <label for="wid_src">Source Wallet</label>
        <select class="form-control" name="wid_src" id="wid_src">
          <% wallets.each do |w| %>
          <option <%= wid == w['id'] ? "selected" : "" %> value="<%= w['id'] %>">
            <%= "#{w['name']} [id: #{w['id']}, balance available: #{w['balance']['available']['quantity']}]" %>
          </option>
          <% end %>
        </select>
        <label for="pass">Passphrase</label>
        <input type="text" class="form-control" name="pass" id="pass" placeholder="Passphrase" value="Secure Passphrase">
      </div>

      <%= render_addr_amt %>
      <%= render_assets_form_part(wallets.select{|w| w['id'] == wid }.first['assets']['available'], multi = true) %>

      <% unless (url_path.include? "byron") %>
        <%= render_tx_shelley_form_part %>
      <% end %>

      <button type="submit" class="btn btn-success">Send Tx</button>
      <%
        # No send between wallets for Byron
        unless url_path.include? "byron"
      %>
        (or <a href="/tx-between-wallets?wid=<%= wid %>">send between wallets</a>
        / <a href="/tx-to-address?wid=<%= wid %>">to address</a>)
        <% else %>
          (or <a href="/byron-tx-to-address?wid=<%= wid %>">to addresses</a>)
        <% end %>
    </form>
  </div>
</div>
