<%
 # wallets = wallets
url_path = request.env['PATH_INFO'].to_s
byron_ep = "/decode-tx-byron"
shelley_ep = "/decode-tx-shelley"
wid = params[:wid] if params[:wid]
%>
<div class="list-group">
  <div class="list-group-item">
     Decode Serialized Transaction 👀
     | <small>
       <a href="<%= back_to_wallet(url_path, wid) %>">
         go back to wallet
       </a></small>
  </div>
  <div class="list-group-item">
    <form action="<%= pick_post_ep(url_path, byron_ep, shelley_ep, nil) %>" method="POST">
      <div class="form-group">
        <label for="wid">Source Wallet</label>
        <select class="form-control" name="wid" id="wid">
          <% wallets.each do |w| %>
          <option <%= wid == w['id'] ? "selected" : "" %> value="<%= w['id'] %>">
            <%= "#{w['name']} [id: #{w['id']}, balance available: #{w['balance']['available']['quantity']}]" %>
          </option>
          <% end %>
        </select>
      </div>
      <div class="form-group">
        <textarea class="form-control" name="serialized_tx" id="serialized_tx" rows="3"><%= serialized_tx if serialized_tx %></textarea>
        <small id="help" class="form-text text-muted">Base64/Base16 encoded tx.</small>
      </div>

      <button type="submit" class="btn btn-success">Decode</button>
      (and <a href="<%= url_path.include?('shelley') ? "/submit-tx-standalone-shelley?wid=#{wid}" : "/submit-tx-standalone-byron?wid=#{wid}" %>">Submit</a> after)
    </form>
  </div>

  <% if tx %>
  <div class="list-group-item"  >
    <small id="response_details">
        <%= response2table(tx) %>
    </small>
  </div>
  <% end %>
</div>
