<%
  # wallets = wallets
  url_path = request.env['PATH_INFO'].to_s
  shelley_ep = "/submit-tx-shelley"
  shared_ep = "/submit-tx-shared"
  wid = params[:wid] if params[:wid]
%>

<script>
function goBack() {
  window.history.back();
}
</script>
<div class="list-group">
  <div class="list-group-item">
    Submit Transaction 🚀
    | <small><a href="#" onclick="goBack()">
        go back
      </a></small>
  </div>
  <div class="list-group-item"  >
    <% if decoded_tx && decoded_tx['fee'] %>
      <b>Fee: </b> <%= "#{as_ada decoded_tx['fee']['quantity']}" %>
      <br/>
      <br/>
    <% end %>
    <form action="<%= pick_post_ep(url_path, nil, shelley_ep, shared_ep) %>" method="POST">
      <div class="form-group">
        <label for="wid">Source Wallet</label>
        <select class="form-control" name="wid" id="wid">
          <% wallets.each do |w| %>
          <option <%= wid == w['id'] ? "selected" : "" %> value="<%= w['id'] %>">
            <%= "#{w['name']} [id: #{w['id']},
            balance available: #{w['state']['status'] != "incomplete" ? w['balance']['available']['quantity'] : 'N/A'}]" %>
          </option>
          <% end %>
        </select>
      </div>
      <div class="form-group">
        <textarea class="form-control" name="transaction" id="transaction" rows="3"><%= tx['transaction'] if tx %></textarea>
        <small id="help" class="form-text text-muted">Base64/Base16 encoded tx.</small>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
      <a class="btn btn-secondary" href="#" role="button" onclick="goBack()">Back</a>
    </form>
  </div>
  <% if tx %>
  <div class="list-group-item"  >
    <details>
      <summary>Transaction details</summary>
        <code>
          <% if decoded_tx %>
          <span title="Decoded transaction">Decoded tx 👀</span>
            <small id="decoded_tx">
                <%= response2table(decoded_tx) %>
            </small>
          <% end %>
          <span title="Encoded transaction">Raw response 🔒</span>
          <small id="tx">
              <%= response2table(tx) %>
          </small>
        </code>
    </details>

  </div>
  <% end %>
</div>
