<%
jorm_stats = session[:jorm_stats]
jorm_settings = session[:jorm_settings]
%>

<div class="list-group">
  <div class="list-group-item">
     Jormungandr Stats & Settings
     <small><a href="/jorm-stats">refresh</a></small>
  </div>
  <div class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Stats</h5>
    </div>
    <small><b>version: </b> <%= jorm_stats['version'] %></small><br/>
    <small><b>state: </b> <%= jorm_stats['state'] %></small><br/>
    <small><b>blockRecvCnt: </b> <%= jorm_stats['blockRecvCnt'] %></small><br/>
    <small><b>lastBlockDate: </b> <%= jorm_stats['lastBlockDate'] %></small><br/>
    <small><b>lastBlockFees: </b> <%= jorm_stats['lastBlockFees'] %></small><br/>
    <small><b>lastBlockHash: </b> <%= jorm_stats['lastBlockHash'] %></small><br/>
    <small><b>lastBlockHeight: </b> <%= jorm_stats['lastBlockHeight'] %></small><br/>
    <small><b>lastBlockSum: </b> <%= jorm_stats['lastBlockSum'] %></small><br/>
    <small><b>lastBlockTime: </b> <%= jorm_stats['lastBlockTime'] %></small><br/>
    <small><b>lastReceivedBlockTime: </b> <%= jorm_stats['lastReceivedBlockTime'] %></small><br/>
    <small><b>lastBlockTx: </b> <%= jorm_stats['lastBlockTx'] %></small><br/>
    <small><b>txRecvCnt: </b> <%= jorm_stats['txRecvCnt'] %></small><br/>
    <small><b>uptime: </b> <%= jorm_stats['uptime'] %></small><br/>
  </div>
  <div class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Settings</h5>
    </div>
    <small><b>block0Hash: </b>  <%= jorm_settings['block0Hash'] %></small><br/>
    <small><b>block0Time: </b>  <%= jorm_settings['block0Time'] %></small><br/>
    <small><b>consensusVersion: </b>  <%= jorm_settings['consensusVersion'] %></small><br/>
    <small><b>currSlotStartTime: </b>  <%= jorm_settings['currSlotStartTime'] %></small><br/>
    <% if jorm_settings['fees'] %>
    <small><b>fees: </b>  </small><br/>
    <small> <%= jorm_settings['fees'] %> </small><br />
    <% end %>
    <% if jorm_settings['rewardParams'] %>
    <small><b>rewardParams: </b></small><br/>
    <small>  <%= jorm_settings['rewardParams'] %></small><br/>
    <% end %>
    
    <small><b>slotDuration: </b>  <%= jorm_settings['slotDuration'] %></small><br/>
    <small><b>slotsPerEpoch: </b>  <%= jorm_settings['slotsPerEpoch'] %></small><br/>
    <% if jorm_settings['treasuryTax'] %>
    <small><b>treasuryTax: </b></small><br/>
    <small>  <%= jorm_settings['treasuryTax'] %></small><br/>
    <% end %>
  </div>
</div>