<%
 mp = migration_plan
 url_path = request.env['PATH_INFO'].to_s
 byron_ep = "/byron-wallets-migration-plan?wid=#{wid}"
 shelley_ep = "/wallets-migration-plan?wid=#{wid}"
%>

<div class="list-group">
  <div class="list-group-item">
     Migration fee
     | <small><a href="<%= back_to_wallet(url_path, wid) %>">go back to wallet</a></small>
  </div>
  <div class="list-group-item">
    <form action="<%= pick_post_ep(url_path, byron_ep, shelley_ep, nil) %>" method="POST">
      <div class="form-row">
        <div class="col">
          <select class="form-control" name="wid" id="wid">
            <% wallets.each do |w| %>
            <option <%= wid == w['id'] ? "selected" : "" %> value="<%= w['id'] %>">
              <%= "#{w['name']} [id: #{w['id']}, balance available: #{w['balance']['available']['quantity']}]" %>
            </option>
            <% end %>
          </select>
        </div>

      </div>

      <div class="form-group controls">
        <label for="addresses">Addresses</label>
        <textarea class="form-control" name="addresses" rows="6"><%= addresses %></textarea>
        <small id="help" class="form-text text-muted">One address per line.</small>
      </div>
      <button type="submit" class="btn btn-success">Create Migration Plan</button>
    </form>
  </div>
  <div class="list-group-item">
    <small id="mf">
        <%= response2table(mp) if mp %>
    </small>
  </div>
</div>
