<%
 df = delegation_fee
%>

<div class="list-group">
  <div class="list-group-item">
     Delegation fees
     | <small><a href="/wallets<%= "/#{wid}" if wid %>">
             go back to wallet<%= "s" unless wid %>
           </a></small>
  </div>
  <div class="list-group-item">
    <form action="/stake-pools-fee?wid=<%= wid %>" method="GET">
      <div class="form-row">
        <div class="col">
          <select class="form-control" name="wid" id="wid">
            <% wallets.each do |w| %>
            <option <%= wid == w['id'] ? "selected" : "" %> value="<%= w['id'] %>">
              <%= "#{w['name']} [id: #{w['id']}, balance available: #{w['balance']['available']['quantity']}]" %>
            </option>
            <% end %>
          </select>
        </div>
        <div class="col">
          <button type="submit" class="btn btn-success">Refresh</button>
        </div>
      </div>
    </form>
  </div>
  <div class="list-group-item">
    <small id="df">
        <%= json2table(df.to_s) if wid %>
    </small>
  </div>
</div>
