<%
params['stake'] ||= 1
stake = params['stake']
ep = "stake-pools-list?stake=#{stake}"
sort_by = params[:sort_by] if params[:sort_by]

case sort_by
# Common
when "blocks"
  sp = stake_pools.sort_by {|s| -s['metrics']['produced_blocks']['quantity']}
when "cost"
  sp = stake_pools.sort_by {|s| -s['cost']['quantity']}
when "margin"
  sp = stake_pools.sort_by {|s| -s['margin']['quantity']}
# cardano-node specific
when "pledge"
  sp = stake_pools.sort_by {|s| -s['pledge']['quantity']}
when "stake"
  sp = stake_pools.sort_by {|s| -s['metrics']['relative_stake']['quantity']}
when "non_myopic_member_rewards"
  sp = stake_pools.sort_by {|s| -s['metrics']['non_myopic_member_rewards']['quantity']}
when "saturation"
  sp = stake_pools.sort_by {|s| -s['metrics']['saturation']}
# Jorm specific
when "saturation_jorm"
  sp = stake_pools.sort_by {|s| -s['saturation']}
when "apparent_performance"
  sp = stake_pools.sort_by {|s| -s['apparent_performance']}
when "desirability"
  sp = stake_pools.sort_by {|s| -s['desirability']}
else
  sp = stake_pools
end
%>

<div class="list-group">
  <div class="list-group-item">
     <form action="/stake-pools-list" method="GET" >
       <div class="form-row">
         <div class="col-2">
           <div class="form-group">
             <input type="text" class="form-control" name="stake" id="stake" placeholder="Intended stake" value="<%= stake %>">
             <small id="help" class="form-text text-muted">
               Intended stake in lovelace.
             </small>
           </div>
         </div>
         <div class="col">
           <div class="form-group">
             <button type="submit" class="btn btn-success">List Stake Pools</button>
           </div>
         </div>
       </div>
     </form>
  </div>
  <div class="list-group-item">
     <%= "Stake pools: #{stake_pools.size}" %>
     <% if stake_pools.size > 0 %>
       | <small><a href="<%= ep %>&sort_by=blocks">by produced blocks</a></small>
       | <small><a href="<%= ep %>&sort_by=cost">by cost</a></small>
       | <small><a href="<%= ep %>&sort_by=margin">by margin</a></small>
       <%# cardano-node specific: %>
       <% unless stake_pools.first['metrics']['relative_stake'].nil? %>
        | <small><a href="<%= ep %>&sort_by=stake">by relative stake</a></small>
       <% end %>
       <% unless stake_pools.first['metrics']['non_myopic_member_rewards'].nil? %>
        | <small><a href="<%= ep %>&sort_by=non_myopic_member_rewards">by non-myopic member rewards</a></small>
       <% end %>
       <% unless stake_pools.first['metrics']['saturation'].nil? %>
        | <small><a href="<%= ep %>&sort_by=saturation">by saturation</a></small>
       <% end %>
       <% unless stake_pools.first['pledge'].nil? %>
        | <small><a href="<%= ep %>&sort_by=pledge">by pledge</a></small>
       <% end %>
       <%# jorm specific: %>
       <% unless stake_pools.first['desirability'].nil? %>
        | <small><a href="<%= ep %>&sort_by=desirability">by desirability</a></small>
       <% end %>
       <% unless stake_pools.first['apparent_performance'].nil? %>
        | <small><a href="<%= ep %>&sort_by=apparent_performance">by apparent performance</a></small>
       <% end %>
       <% unless stake_pools.first['saturation'].nil? %>
        | <small><a href="<%= ep %>&sort_by=saturation_jorm">by saturation</a></small>
       <% end %>
     <% end %>

  </div>
  <% sp.each_with_index do |s, i| %>
      <div class="list-group-item">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%= "#{i + 1}: #{s['id']}" %></h5>
        </div>
        <small><b>Margin:</b> <%= s['margin']['quantity'] %>%</small><br/>
        <small><b>Cost:</b> <%= s['cost']['quantity'] %> lovelace</small><br/>

        <%# Jormungandr: %>
        <% if s['saturation'] %>
          <small><b>Saturation:</b> <%= s['saturation'] %>%</small><br/>
        <% end %>
        <% if s['apparent_performance'] %>
          <small><b>Apparent performance:</b> <%= s['apparent_performance'] %>%</small><br/>
        <% end %>
        <%# end %>

        <%# Cardano-node: %>
        <% if s['pledge'] %>
          <small><b>Pledge:</b> <%= "#{s['pledge']['quantity']} #{s['pledge']['unit']}" %></small><br/>
        <% end %>
        <%# end %>

        <% if s['metrics'] %>
        <small><b>Metrics:</b></small></br>
        <%# Cardano-node metrics: %>
          <% if s['metrics']['saturation'] %>
            <small>&nbsp;&nbsp;<b>Saturation:</b> <%= s['metrics']['saturation'] %></small><br/>
          <% end %>
          <% if s['metrics']['non_myopic_member_rewards'] %>
            <small>&nbsp;&nbsp;<b>Non-myopic member rewards:</b>
              <%= "#{s['metrics']['non_myopic_member_rewards']['quantity']} #{s['metrics']['non_myopic_member_rewards']['unit']}" %>
            </small><br/>
          <% end %>
          <% if s['metrics']['produced_blocks'] %>
            <small>&nbsp;&nbsp;<b>Produced blocks:</b>
              <%= s['metrics']['produced_blocks']['quantity'] %>
            </small><br/>
          <% end %>
          <% if s['metrics']['relative_stake'] %>
            <small>&nbsp;&nbsp;<b>Relative stake:</b>
              <%= "#{s['metrics']['relative_stake']['quantity']}%" %>
            </small><br/>
          <% end %>
        <%# end %>

        <%# Jormungandr metrics: %>
          <% if s['metrics']['controlled_stake'] %>
            <small>&nbsp;&nbsp;<b>Controlled Stake:</b>
              <%= s['metrics']['controlled_stake']['quantity'] %>
            </small><br/>
          <% end %>
        <%# end %>


        <% end %>

        <% if s['metadata'] %>
          <small><b>Metadata:</b></small></br>
          <small>&nbsp;&nbsp;<b>Homepage:</b>
          <a href="<%= s['metadata']['homepage']%>" target="_blank"><%= s['metadata']['homepage']%></a>
          </small></br>
          <small>&nbsp;&nbsp;<b>Name:</b>
            <%= s['metadata']['name']%>
          </small></br>
          <small>&nbsp;&nbsp;<b>Owner:</b>
            <%= s['metadata']['owner']%>
          </small></br>
          <small>&nbsp;&nbsp;<b>Pledge address:</b>
            <%= s['metadata']['pledge_address']%>
          </small></br>
          <small>&nbsp;&nbsp;<b>Ticker:</b>
            <%= s['metadata']['ticker']%>
          </small></br>
          <small>&nbsp;&nbsp;<b>Description:</b>
            <%= s['metadata']['description']%>
          </small></br>
        <% else %>
          <small><b style="text-color:red">No metadata.</b></small></br>
        <% end %>
        <small>
            <a href="/stake-pools-join?sid=<%= s['id']%>">join</a>
          | <a href="/stake-pools-quit">quit</a>
        </small>
      </div>
   <% end %>
</div>
