<%
  url_path = request.env['PATH_INFO'].to_s

%>

<div class="list-group">

    <div class="list-group-item">
      <small><a href="<%= (url_path.include? "byron") ? "/byron-wallets" : "/wallets" %><%= "/#{wid}/txs/#{tx['id']}" %>">refresh</a></small>
      | <small><a href="<%= (url_path.include? "byron") ? "/byron-wallets" : "/wallets" %><%= "/#{wid}/forget-tx/#{tx['id']}" %>">forget</a></small>
      | <small><a href="<%= (url_path.include? "byron") ? "/byron-wallets" : "/wallets" %><%= "/#{wid}" %>">go to wallet</a></small><br/>
    </div>
    <div class="list-group-item">
      <%= show_tx_badges(tx) %>
      <small><b>ID: </b><%= tx['id'] %></small><br/>
      <% if tx['inserted_at']%>
          <small><b>Inserted at: </b></small><br/>
          <small>&nbsp;&nbsp;<b>Time: </b><%= tx['inserted_at']['time'] %></small><br/>
          <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['inserted_at']['height']['quantity'] %>, </small>
          <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['inserted_at']['epoch_number'] %>, </small>
          <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['inserted_at']['slot_number'] %>, </small>
          <small>&nbsp;&nbsp;<b>Absolute Slot: </b><%= tx['inserted_at']['absolute_slot_number'] %>)</small>
          <br/>
      <% end %>
      <% if tx['pending_since']%>
          <small><b>Pending since: </b></small><br/>
          <small>&nbsp;&nbsp;<b>Time: </b><%= tx['pending_since']['time'] %></small><br/>
          <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['pending_since']['height']['quantity'] %>, </small>
          <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['pending_since']['epoch_number'] %>, </small>
          <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['pending_since']['slot_number'] %>, </small>
          <small>&nbsp;&nbsp;<b>Absolute Slot: </b><%= tx['pending_since']['absolute_slot_number'] %>)</small>
          <br/>
      <% end %>
      <% if tx['expires_at']%>
          <small><b>Expires at: </b></small><br/>
          <small>&nbsp;&nbsp;<b>Time: </b><%= tx['expires_at']['time'] %></small><br/>
          <small>&nbsp;&nbsp;<b>(Epoch: </b><%= tx['expires_at']['epoch_number'] %>, </small>
          <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['expires_at']['slot_number'] %>, </small>
          <small>&nbsp;&nbsp;<b>Absolute Slot: </b><%= tx['expires_at']['absolute_slot_number'] %>)</small>
          <br/>
      <% end %>
      <small><b>Status: </b><%= tx['status'] %></small><br/>
      <small><b>Amount: </b><%= tx['amount']['quantity'] %> <%= tx['amount']['unit'] %> <%= "(sent amount + fee)" if tx['direction'] == "outgoing" %></small><br/>
      <!-- <small><b>Assets: </b> </small><br/> -->
      <!-- <small><b>Mint: </b> </small><br/> -->
      <small><b>Fee: </b><%= tx['fee']['quantity'] %> <%= tx['fee']['unit'] %></small><br/>
      <small><b>Deposit Taken: </b><%= tx['deposit_taken']['quantity'] %> <%= tx['deposit_taken']['unit'] %></small><br/>
      <small><b>Deposit Returned: </b><%= tx['deposit_returned']['quantity'] %> <%= tx['deposit_returned']['unit'] %></small><br/>
      <small><b>Direction: </b><%= tx['direction'] %></small><br/>

      <small><b>Depth: </b><%= "#{tx['depth']['quantity']} blocks" if tx['depth'] %></small><br/>
      <% if tx['inputs'] %>
        <div class="list-group-item">
          <small><b>Inputs: </b> <%= tx['inputs'].size %></small><br/>
          <% tx['inputs'].each do |i| %>
              <small>
                &nbsp;&nbsp;<b>Amount: </b><%= i['amount']['quantity'] if i['amount'] %>
              </small><br/>
              <small>&nbsp;&nbsp;<b>Address: </b><%= i['address'] %></small><br/>
              <small>&nbsp;&nbsp;<b>Id: </b><%= i['id'] %></small><br/>
              <small>&nbsp;&nbsp;<b>Index: </b><%= i['index'] %></small><br/>
              <small>&nbsp;&nbsp;<b>Assets: </b><%= render_assets_outputs i['assets'] %></small><br/>

              <b>---</b><br/>
            <% end %>
        </div>
      <% else%>
        <small><b>No Inputs!</b></small><br/>
      <% end %>
      <% if tx['outputs'] %>
        <div class="list-group-item">
          <small><b>Outputs: </b><%= tx['outputs'].size %></small><br/>
          <% tx['outputs'].each do |out| %>
              <small>&nbsp;&nbsp;<b>Amount: </b><%= out['amount']['quantity'] %></small><br/>
              <small>&nbsp;&nbsp;<b>Address: </b><%= out['address'] %></small><br/>
              <small>&nbsp;&nbsp;<b>Assets: </b><%= render_assets_outputs out['assets'] %></small><br/>
              <b>---</b> <br/>
            <% end %>
        </div>

      <% else%>
        <small>&nbsp;&nbsp;<b>No Outputs! </b></small><br/>
      <% end %>
      <% if tx['withdrawals'] %>
        <div class="list-group-item">
          <small><b>Withdrawals: </b><%= tx['withdrawals'].size %></small><br/>
          <% tx['withdrawals'].each do |out| %>
              <small>&nbsp;&nbsp;<b>Amount: </b><%= out['amount']['quantity'] %></small><br/>
              <small>&nbsp;&nbsp;<b>Stake Address: </b><%= out['stake_address'] %></small><br/>
              <b>---</b> <br/>
            <% end %>
        </div>

      <% else%>
        <small>&nbsp;&nbsp;<b>No Withdrawals! </b></small><br/>
      <% end %>
      <div class="list-group-item">
      <% if tx['metadata'] %>
          <small><b>Metadata: </b></small><br/>
          <small><pre><%= JSON.pretty_generate tx['metadata'] %></pre></small>
      <% else%>
        <small><b>No Metadata! </b></small><br/>
      <% end %>
      </div>

    </div>
    <div class="list-group-item" >
      <details>
        <summary>Table view</summary>
        <small>
        <%= response2table(tx) %>
        </small>
      </details>
    </div>


</div>
