<%
  url_path = request.env['PATH_INFO'].to_s
  id = wal['id']
  name = wal['name']
  status = wal['state']['status'] if wal['state']
  discovery = wal['discovery']
%>

<script src="../lib.js" type="text/javascript"></script>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Delete wallet <b><%= name %></b>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok" href="<%= (url_path.include? "byron") ? "/byron-wallets-delete" : "/wallets-delete" %>/<%= id %>" >Delete</a>
            </div>
        </div>
    </div>
</div>
 <div class="list-group">
   <div class="list-group-item">

     <% unless url_path.include? "byron" %>
         <nav class="nav nav-tabs">
           <a class="nav-link" href="/wallets">List All Shelley</a>
           <div>
             <a class="nav-link dropdown-toggle"
               data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage</a>
             <div class="dropdown-menu">
               <a class="dropdown-item" href="#" data-toggle="modal" data-target="#confirm-delete">Delete</a>
               <a class="dropdown-item" href="/wallets/<%= id %>/update">Update name</a>
               <a class="dropdown-item" href="/wallets/<%= id %>/update-pass">Update passphrase</a>
             </div>
           </div>
           <div>
             <a class="nav-link dropdown-toggle"
               data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tx</a>
             <div class="dropdown-menu">
               <a class="dropdown-item" href="/tx-between-wallets?wid=<%= id %>">Between my wallets</a>
               <a class="dropdown-item" href="/tx-to-address?wid=<%= id %>">To address</a>
               <a class="dropdown-item" href="/tx-fee-to-address?wid=<%= id %>">Tx Fee</a>
             </div>
           </div>
           <div>
             <a class="nav-link dropdown-toggle"
               data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Delegation</a>
             <div class="dropdown-menu">
               <a class="dropdown-item" href="/stake-pools-join?wid=<%= wal['id']%>">Join SP</a>
               <a class="dropdown-item"
                  href="/stake-pools-quit<%="?wid=#{wal['id']}"%><%= "&sid=#{wal['delegation']['target']}" if wal['delegation']%>">Quit SP</a>
               <a class="dropdown-item" href="/stake-pools-fee/<%= wal['id'] %>" >Delegation Fee</a>
             </div>
           </div>

           <a class="nav-link" href="/wallets/<%= wal['id']%>/utxo">UTxO</a>
           <!-- <a class="nav-link" href="#" onClick="showIt('utxo_show')">UTxO</a>   -->
         </nav>
    <% else %>
        <nav class="nav nav-tabs">
          <a class="nav-link" href="/byron-wallets">List All Byron</a>
          <div>
            <a class="nav-link dropdown-toggle"
              data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#confirm-delete">Delete</a>
              <a class="dropdown-item" href="/byron-wallets/<%= id %>/update">Update name</a>
              <a class="dropdown-item" href="/byron-wallets/<%= id %>/update-pass">Update passphrase</a>
            </div>
          </div>
          <div>
            <a class="nav-link dropdown-toggle"
              data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tx</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/byron-tx-to-address?wid=<%= id %>">To address</a>
              <a class="dropdown-item" href="/byron-tx-fee-to-address?wid=<%= id %>">Tx Fee</a>
            </div>
          </div>
          <a class="nav-link"  href="/byron-wallets-migrate<%="?wid=#{wal['id']}"%>">Migrate</a>
          <a class="nav-link"  href="/byron-wallets-migration-fee/<%="#{wal['id']}"%>">Migration Fee</a>
          <a class="nav-link" href="/byron-wallets/<%= wal['id']%>/utxo">UTxO</a>
          <a class="nav-link" href="/byron-wallets/<%= wal['id']%>/address">Generate address</a>
          <a class="nav-link" href="/byron-wallets/<%= wal['id']%>/address-import">Import address</a>

        </nav>
    <% end %>

     <div class="row" style="margin-top:20px; margin-left:10px;">
       <div class="col-4">
         <div class="d-flex w-100 justify-content-between">
           <h5 class="mb-1">
             <a href="/<%= (url_path.include? "byron") ? "byron-wallets" : "wallets" %>/<%= id %>"><%= name %></a>
           </h5>
         </div>
         <b>Balance:</b> (Total: <%= wal['balance']['total']['quantity'] %>
                                , Available: <%= wal['balance']['available']['quantity'] %>
                                <%= ", Rewards: #{wal['balance']['reward']['quantity']}" if wal['balance']['reward'] %>)
         <br/>
         <small><b>ID:</b> <%= id %></small><br/>
         <small>
           <b>Status:</b>
           <%= render_wal_status status, wal %>
         </small><br/>
         <small>
           <b>Tip:</b> (Height: <%= wal['tip']['height']['quantity'] %>
                       , Epoch: <%= wal['tip']['epoch_number'] %>
                       , Slot: <%= wal['tip']['slot_number'] %>)
         </small><br/>
         <small>
           <b>Address discovery:</b> <%= discovery %>
        </small><br/>
         <%# Display this only for Shelley wallets %>
         <% unless url_path.include? "byron"
             active_delegation = wal['delegation']['active']
             next_delegation = wal['delegation']['next']
         %>
             <small><b>Delegation active:</b><br/>
               &nbsp;&nbsp;<b>Status:</b> <%= active_delegation['status']%>
               <%= active_delegation['status'] == "delegating" ? "<br/>&nbsp;&nbsp;<b>Target:</b> #{active_delegation['target']}" : ""%>
             </small><br/>
             <% if next_delegation
                 next_delegation.each do |n|
             %>
               <small><b>Delegation next:</b> <br/>
                 &nbsp;&nbsp;<b>Status:</b> <%= n['status']%><br/>
                 &nbsp;&nbsp;<b>Target:</b> <%= n['target']%><br/>
                 &nbsp;&nbsp;<b>Changes at:</b><br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;<b>Epoch start time:</b> <%= n['changes_at']['epoch_start_time']%><br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;<b>Epoch number:</b> <%= n['changes_at']['epoch_number']%>
               </small><br/>
             <%  end
               end %>
         <% end %>

           <%
           # unless url_path.include? "byron"
              if addrs
                addresses = addrs
                used = addresses.select{ |a| a['state'] == "used" }
                unused = addresses.select{ |a| a['state'] == "unused" }
            %>
               <small><b>Addresses:</b> <br/>
                         &nbsp;&nbsp;<a href="#" onClick="showIt('addr')">Total:</a> <span id="addr_size"><%= addresses.size %></span> <br/>
                          &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onClick="showIt('addr_used')">Used:</a> <span id="addr_used_size"><%= used.size %></span>  <br/>
                          &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onClick="showIt('addr_unused')">Unused:</a> <span id="addr_unused_size"><%= unused.size %></span>  <br/>

               </small>
            <% end %>
           <% # end %>
           <%
              if txs
                txs_pending = txs.select{ |t| t['status'] == "pending" }
                txs_inledger = txs.select{ |t| t['status'] == "in_ledger" }
                txs_in = txs.select{ |t| t['direction'] == "incoming" }
                txs_out = txs.select{ |t| t['direction'] == "outgoing" }
            %>
           <small><b>Transactions:</b>  <br/>
                 &nbsp;&nbsp;<a href="#" onClick="showIt('txs')" >Total:</a> <span id="txs_total"><%= txs.size %></span> <br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;Status: <br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onClick="showIt('txs_pending')" >Pending:</a>  <span id="txs_pending_size"><%= txs_pending.size %></span> <br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onClick="showIt('txs_inledger')" >InLedger:</a>  <span id="txs_inledger_size"><%= txs_inledger.size %></span> <br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;Direction: <br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onClick="showIt('txs_in')" >Incoming:</a>  <span id="txs_in_size"><%= txs_in.size %></span> <br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onClick="showIt('txs_out')" >Outgoing:</a>  <span id="txs_out_size"><%= txs_out.size %></span> <br/>
           </small><br/>
           <% end %>

       </div>
       <div class="col displ_details" style="display:none" id="addr">
         <div class="list-group-item">
           Addresses total:<br/>
           <small><%= addresses.map { |a| a['id'] }.join("<br/>") if addrs %></small>
         </div>
       </div>
       <div class="col displ_details" style="display:none" id="addr_used">
         <div class="list-group-item">
           Addresses used:<br/>
           <small><%= used.map { |a| a['id'] }.join("<br/>") if addrs %></small>
         </div>
       </div>
       <div class="col displ_details" style="display:none" id="addr_unused">
         <div class="list-group-item">
           Addresses unused:<br/>
           <small><%= unused.map { |a| a['id'] }.join("<br/>") if addrs %></small>
         </div>
       </div>

       <% if txs %>
         <div class="col displ_details" style="display:none" id="txs">
           <div class="list-group-item">
             Txs total:<br/>
             <% txs.each do |tx| %>
                <small><b>ID: </b><a href="<%= (url_path.include? "byron") ? "/byron-wallets" : "/wallets" %><%= "/#{id}/txs/#{tx['id']}" %>"><%= tx['id']%></a></small><br/>
                <% if tx['inserted_at']%>
                    <small><b>Inserted at: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['inserted_at']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['inserted_at']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['inserted_at']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['inserted_at']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <% if tx['pending_since']%>
                    <small><b>Pending since: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['pending_since']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['pending_since']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['pending_since']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['pending_since']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <small><b>Status: </b><%= tx['status'] %></small><br/>
                <small><b>Amount: </b><%= tx['amount']['quantity'] if tx['amount'] %></small><br/>
                <small><b>Direction: </b><%= tx['direction'] %></small><br/>
                <small><b>Depth: </b><%= "#{tx['depth']['quantity']} blocks" if tx['depth'] %></small><br/>

                <small>---</small><br/>
             <% end %>
           </div>
         </div>
         <div class="col displ_details" style="display:none" id="txs_pending">
           <div class="list-group-item">
             Txs pending:<br/>
             <% txs_pending.each do |tx| %>
                <small><b>ID: </b><a href="<%= (url_path.include? "byron") ? "/byron-wallets" : "/wallets" %><%= "/#{id}/txs/#{tx['id']}" %>"><%= tx['id']%></a></small><br/>
                <% if tx['inserted_at']%>
                    <small><b>Inserted at: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['inserted_at']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['inserted_at']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['inserted_at']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['inserted_at']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <% if tx['pending_since']%>
                    <small><b>Pending since: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['pending_since']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['pending_since']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['pending_since']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['pending_since']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <small><b>Status: </b><%= tx['status'] %></small><br/>
                <small><b>Amount: </b><%= tx['amount']['quantity'] if tx['amount'] %></small><br/>
                <small><b>Direction: </b><%= tx['direction'] %></small><br/>
                <small><b>Depth: </b><%= "#{tx['depth']['quantity']} blocks" if tx['depth'] %></small><br/>

                <small>---</small><br/>
             <% end %>
           </div>
         </div>
         <div class="col displ_details" style="display:none" id="txs_inledger">
           <div class="list-group-item">
             Txs in ledger:<br/>
             <% txs_inledger.each do |tx| %>
                <small><b>ID: </b><a href="<%= (url_path.include? "byron") ? "/byron-wallets" : "/wallets" %><%= "/#{id}/txs/#{tx['id']}" %>"><%= tx['id']%></a></small><br/>
                <% if tx['inserted_at']%>
                    <small><b>Inserted at: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['inserted_at']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['inserted_at']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['inserted_at']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['inserted_at']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <% if tx['pending_since']%>
                    <small><b>Pending since: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['pending_since']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['pending_since']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['pending_since']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['pending_since']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <small><b>Status: </b><%= tx['status'] %></small><br/>
                <small><b>Amount: </b><%= tx['amount']['quantity'] if tx['amount'] %></small><br/>
                <small><b>Direction: </b><%= tx['direction'] %></small><br/>
                <small><b>Depth: </b><%= "#{tx['depth']['quantity']} blocks" if tx['depth'] %></small><br/>

                <small>---</small><br/>
             <% end %>
           </div>
         </div>
         <div class="col displ_details" style="display:none" id="txs_in">
           <div class="list-group-item">
             Txs incoming:<br/>
             <% txs_in.each do |tx| %>
                <small><b>ID: </b><a href="<%= (url_path.include? "byron") ? "/byron-wallets" : "/wallets" %><%= "/#{id}/txs/#{tx['id']}" %>"><%= tx['id']%></a></small><br/>
                <% if tx['inserted_at']%>
                    <small><b>Inserted at: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['inserted_at']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['inserted_at']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['inserted_at']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['inserted_at']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <% if tx['pending_since']%>
                    <small><b>Pending since: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['pending_since']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['pending_since']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['pending_since']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['pending_since']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <small><b>Status: </b><%= tx['status'] %></small><br/>
                <small><b>Amount: </b><%= tx['amount']['quantity'] if tx['amount'] %></small><br/>
                <small><b>Direction: </b><%= tx['direction'] %></small><br/>
                <small><b>Depth: </b><%= "#{tx['depth']['quantity']} blocks" if tx['depth'] %></small><br/>

                <small>---</small><br/>
             <% end %>
           </div>
         </div>
         <div class="col displ_details" style="display:none" id="txs_out">
           <div class="list-group-item">
             Txs outgoing:<br/>
             <% txs_out.each do |tx| %>
                <small><b>ID: </b><a href="<%= (url_path.include? "byron") ? "/byron-wallets" : "/wallets" %><%= "/#{id}/txs/#{tx['id']}" %>"><%= tx['id']%></a></small><br/>
                <% if tx['inserted_at']%>
                    <small><b>Inserted at: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['inserted_at']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['inserted_at']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['inserted_at']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['inserted_at']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <% if tx['pending_since']%>
                    <small><b>Pending since: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['pending_since']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['pending_since']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['pending_since']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['pending_since']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <small><b>Status: </b><%= tx['status'] %></small><br/>
                <small><b>Amount: </b><%= tx['amount']['quantity'] if tx['amount'] %></small><br/>
                <small><b>Direction: </b><%= tx['direction'] %></small><br/>
                <small><b>Depth: </b><%= "#{tx['depth']['quantity']} blocks" if tx['depth'] %></small><br/>

                <small>---</small><br/>
             <% end %>
           </div>
         </div>
       <% end %>

     </div>

   </div>
 </div>
