<% 
  url_path = request.env['PATH_INFO'].to_s
  wal = session[:wal] if session[:wal]
  utxo = session[:utxo] if session[:utxo]
  delegation_fee = session[:delegation_fee]
  
  exit unless wal
  
  id = wal['id']
  name = wal['name']
  status = wal['state']['status'] if wal['state']
  deleg_status = wal['delegation']['status'] if wal['delegation']
  
%>

<script src="../lib.js" type="text/javascript"></script>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Delete wallet <b><%= name %></b>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok" href="<%= deleg_status ? "/wallets-delete" : "/byron-wallets-delete" %>/<%= id %>" >Delete</a>
            </div>
        </div>
    </div>
</div>
<% unless url_path.include? "byron" %>
<div class="modal fade" id="delegation-fee" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Delegation fee: <%= "<b>#{delegation_fee['amount'] ? delegation_fee['amount']['quantity'] : delegation_fee}</b>" %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<% end %>

 <div class="list-group">
   <div class="list-group-item">
          
     <% unless url_path.include? "byron" %>
         <nav class="nav nav-tabs">
           <a class="nav-link" href="/wallets">List All Shelley</a>
           <div>
             <a class="nav-link dropdown-toggle" 
               data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage</a>
             <div class="dropdown-menu">
               <a class="dropdown-item" href="#" data-toggle="modal" data-target="#confirm-delete">Delete</a>
               <a class="dropdown-item disabled" href="/wallet-update-pass">Update passphrase</a>
               <a class="dropdown-item disabled" href="/wallet-update-name">Update name</a>
             </div>
           </div>
           <div>           
             <a class="nav-link dropdown-toggle" 
               data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tx</a>
             <div class="dropdown-menu">
               <a class="dropdown-item" href="/tx-between-wallets?wid=<%= id %>">Between my wallets</a>
               <a class="dropdown-item" href="/tx-to-address?wid=<%= id %>">To address</a>
               <a class="dropdown-item disabled" href="/tx-to-address?wid=<%= id %>">Tx Fee</a>
             </div>
           </div>
           <div>           
             <a class="nav-link dropdown-toggle" 
               data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Delegation</a>
             <div class="dropdown-menu">
               <a class="dropdown-item" href="/stake-pools-join?wid=<%= wal['id']%>">Join SP</a>
               <a class="dropdown-item" 
                  href="/stake-pools-quit<%="?wid=#{wal['id']}"%><%= "&sid=#{wal['delegation']['target']}" if wal['delegation']%>">Quit SP</a>       
               <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delegation-fee">Delegation Fee</a>
             </div>
           </div>

           <a class="nav-link" href="/wallets/<%= wal['id']%>/utxo">UTxO</a>  
           <a class="nav-link" href="/wallets-force-resync?wid=<%= wal['id']%>">Force resync</a>  
           <!-- <a class="nav-link" href="#" onClick="showIt('utxo_show')">UTxO</a>   -->
         </nav>
    <% else %>
        <nav class="nav nav-tabs">
          <a class="nav-link" href="/byron-wallets">List All Byron</a>
          <a class="nav-link" href="#" data-toggle="modal" data-target="#confirm-delete">Delete</a>
          <a class="nav-link"  href="/byron-wallets-migrate<%="?wid=#{wal['id']}"%>">Migrate</a>
          <a class="nav-link disabled"  href="/byron-wallets-fee">Migration Fee</a>
          <a class="nav-link" href="/byron-wallets-force-resync?wid=<%= wal['id']%>">Force resync</a>  
          
        </nav>
    <% end %>

     <div class="row" style="margin-top:20px; margin-left:10px;">
       <div class="col-4">
         <div class="d-flex w-100 justify-content-between">
           <h5 class="mb-1">
             <a href="/<%= deleg_status ? "wallets" : "byron-wallets" %>/<%= id %>"><%= name %></a>
           </h5>
         </div>
         <b>Balance:</b> (Total: <%= wal['balance']['total']['quantity'] %>
                                , Available: <%= wal['balance']['available']['quantity'] %>
                                <%= ", Rewards: #{wal['balance']['reward']['quantity']}" if wal['balance']['reward'] %>)
         <br/>
         <small><b>ID:</b> <%= id %></small><br/>
         <small>
           <b>Status:</b> <%= status %>
                          <%= status == "syncing" ? ", Progress: #{wal['state']['progress']['quantity']}%" : ""%>
          
         </small><br/>
         <small>
           <b>Tip:</b> (Height: <%= wal['tip']['height']['quantity'] %>
                       , Epoch: <%= wal['tip']['epoch_number'] %>
                       , Slot: <%= wal['tip']['slot_number'] %>)
         </small><br/>
         <%# Display this only for Shelley wallets %>
         <% unless url_path.include? "byron" %>
           <small><b>Delegation:</b> <%= deleg_status %><br/>
             &nbsp;&nbsp;<%= deleg_status == "delegating" ? "Target: #{wal['delegation']['target']}" : ""%>
           </small><br/>

         <% end %>
         
           <%
           unless url_path.include? "byron" 
              if session[:addrs]
                addresses = session[:addrs] 
                used = addresses.select{ |a| a['state'] == "used" }
                unused = addresses.select{ |a| a['state'] == "unused" }
            %>     
               <small><b>Addresses:</b> <br/>
                         &nbsp;&nbsp;<a href="#" onClick="showIt('addr')">Total:</a> <%= addresses.size %> <br/>
                          &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onClick="showIt('addr_used')">Used:</a> <%= used.size %> <br/>
                          &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onClick="showIt('addr_unused')">Unused:</a> <%= unused.size %> <br/>
                        
               </small>
            <% end %>
           <% end %>
           <% 
              if session[:txs]
                txs = session[:txs] 
                txs_pending = txs.select{ |t| t['status'] == "pending" }
                txs_inledger = txs.select{ |t| t['status'] == "in_ledger" }
                txs_in = txs.select{ |t| t['direction'] == "incoming" }
                txs_out = txs.select{ |t| t['direction'] == "outgoing" }
            %>   
           <small><b>Transactions:</b>  <br/>
                 &nbsp;&nbsp;<a href="#" onClick="showIt('txs')" >Total:</a> <%= txs.size %> <br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;Status: <br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onClick="showIt('txs_pending')" >Pending:</a>  <%= txs_pending.size %> <br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onClick="showIt('txs_inledger')" >InLedger:</a>  <%= txs_inledger.size %> <br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;Direction: <br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onClick="showIt('txs_in')" >Incoming:</a>  <%= txs_in.size %> <br/>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onClick="showIt('txs_out')" >Outgoing:</a>  <%= txs_out.size %> <br/>
           </small><br/>
           <% end %> 
         
       </div>
       <div class="col displ_details" style="display:none" id="addr">
         <div class="list-group-item">
           Addresses total:<br/>
           <small><%= addresses.map { |a| a['id'] }.join("<br/>") if addresses %></small>
         </div>
       </div>
       <div class="col displ_details" style="display:none" id="addr_used">
         <div class="list-group-item">
           Addresses used:<br/>
           <small><%= used.map { |a| a['id'] }.join("<br/>") if addresses %></small>
         </div>
       </div>
       <div class="col displ_details" style="display:none" id="addr_unused">
         <div class="list-group-item">
           Addresses unused:<br/>
           <small><%= unused.map { |a| a['id'] }.join("<br/>") if addresses %></small>
         </div>
       </div>
       
       <% if txs %>
         <div class="col displ_details" style="display:none" id="txs">
           <div class="list-group-item">
             Txs total:<br/>
             <% txs.each do |tx| %>
                <small><b>ID: </b><a href="<%= (url_path.include? "byron") ? "/byron-wallets" : "/wallets" %><%= "/#{id}/txs/#{tx['id']}" %>"><%= tx['id']%></a></small><br/>
                <% if tx['inserted_at']%>
                    <small><b>Inserted at: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['inserted_at']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['inserted_at']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['inserted_at']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['inserted_at']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <% if tx['pending_since']%>
                    <small><b>Pending since: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['pending_since']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['pending_since']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['pending_since']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['pending_since']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <small><b>Status: </b><%= tx['status'] %></small><br/>
                <small><b>Amount: </b><%= tx['amount']['quantity'] if tx['amount'] %></small><br/>
                <small><b>Direction: </b><%= tx['direction'] %></small><br/>
                <small><b>Depth: </b><%= "#{tx['depth']['quantity']} blocks" if tx['depth'] %></small><br/>

                <small>---</small><br/>
             <% end %>
           </div>
         </div>
         <div class="col displ_details" style="display:none" id="txs_pending">
           <div class="list-group-item">
             Txs pending:<br/>
             <% txs_pending.each do |tx| %>
                <small><b>ID: </b><a href="<%= (url_path.include? "byron") ? "/byron-wallets" : "/wallets" %><%= "/#{id}/txs/#{tx['id']}" %>"><%= tx['id']%></a></small><br/>
                <% if tx['inserted_at']%>
                    <small><b>Inserted at: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['inserted_at']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['inserted_at']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['inserted_at']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['inserted_at']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <% if tx['pending_since']%>
                    <small><b>Pending since: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['pending_since']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['pending_since']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['pending_since']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['pending_since']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <small><b>Status: </b><%= tx['status'] %></small><br/>
                <small><b>Amount: </b><%= tx['amount']['quantity'] if tx['amount'] %></small><br/>
                <small><b>Direction: </b><%= tx['direction'] %></small><br/>
                <small><b>Depth: </b><%= "#{tx['depth']['quantity']} blocks" if tx['depth'] %></small><br/>

                <small>---</small><br/>
             <% end %>
           </div>
         </div>
         <div class="col displ_details" style="display:none" id="txs_inledger">
           <div class="list-group-item">
             Txs in ledger:<br/>
             <% txs_inledger.each do |tx| %>
                <small><b>ID: </b><a href="<%= (url_path.include? "byron") ? "/byron-wallets" : "/wallets" %><%= "/#{id}/txs/#{tx['id']}" %>"><%= tx['id']%></a></small><br/>
                <% if tx['inserted_at']%>
                    <small><b>Inserted at: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['inserted_at']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['inserted_at']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['inserted_at']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['inserted_at']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <% if tx['pending_since']%>
                    <small><b>Pending since: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['pending_since']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['pending_since']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['pending_since']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['pending_since']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <small><b>Status: </b><%= tx['status'] %></small><br/>
                <small><b>Amount: </b><%= tx['amount']['quantity'] if tx['amount'] %></small><br/>
                <small><b>Direction: </b><%= tx['direction'] %></small><br/>
                <small><b>Depth: </b><%= "#{tx['depth']['quantity']} blocks" if tx['depth'] %></small><br/>

                <small>---</small><br/>
             <% end %>
           </div>
         </div>   
         <div class="col displ_details" style="display:none" id="txs_in">
           <div class="list-group-item">
             Txs incoming:<br/>
             <% txs_in.each do |tx| %>
                <small><b>ID: </b><a href="<%= (url_path.include? "byron") ? "/byron-wallets" : "/wallets" %><%= "/#{id}/txs/#{tx['id']}" %>"><%= tx['id']%></a></small><br/>
                <% if tx['inserted_at']%>
                    <small><b>Inserted at: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['inserted_at']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['inserted_at']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['inserted_at']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['inserted_at']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <% if tx['pending_since']%>
                    <small><b>Pending since: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['pending_since']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['pending_since']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['pending_since']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['pending_since']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <small><b>Status: </b><%= tx['status'] %></small><br/>
                <small><b>Amount: </b><%= tx['amount']['quantity'] if tx['amount'] %></small><br/>
                <small><b>Direction: </b><%= tx['direction'] %></small><br/>
                <small><b>Depth: </b><%= "#{tx['depth']['quantity']} blocks" if tx['depth'] %></small><br/>

                <small>---</small><br/>
             <% end %>
           </div>
         </div>   
         <div class="col displ_details" style="display:none" id="txs_out">
           <div class="list-group-item">
             Txs outgoing:<br/>
             <% txs_out.each do |tx| %>
                <small><b>ID: </b><a href="<%= (url_path.include? "byron") ? "/byron-wallets" : "/wallets" %><%= "/#{id}/txs/#{tx['id']}" %>"><%= tx['id']%></a></small><br/>
                <% if tx['inserted_at']%>
                    <small><b>Inserted at: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['inserted_at']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['inserted_at']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['inserted_at']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['inserted_at']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <% if tx['pending_since']%>
                    <small><b>Pending since: </b></small><br/>
                    <small>&nbsp;&nbsp;<b>Time: </b><%= tx['pending_since']['time'] %></small><br/>
                    <small>&nbsp;&nbsp;<b>(Block: </b><%= tx['pending_since']['block']['height']['quantity'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Epoch: </b><%= tx['pending_since']['block']['epoch_number'] %>, </small>
                    <small>&nbsp;&nbsp;<b>Slot: </b><%= tx['pending_since']['block']['slot_number'] %>)</small><br/>
                <% end %>
                <small><b>Status: </b><%= tx['status'] %></small><br/>
                <small><b>Amount: </b><%= tx['amount']['quantity'] if tx['amount'] %></small><br/>
                <small><b>Direction: </b><%= tx['direction'] %></small><br/>
                <small><b>Depth: </b><%= "#{tx['depth']['quantity']} blocks" if tx['depth'] %></small><br/>

                <small>---</small><br/>
             <% end %>
           </div>
         </div>
       <% end %>

     </div>
 
   </div>
 </div>