<%
# wallets = wallets
path_info = request.env['PATH_INFO'].to_s
byron_ep = "/byron-wallets"
shelley_ep = "/wallets"
%>
<div class="list-group">
  <div class="list-group-item">
     <%= "Shelley wallets: #{wallets.size} " unless path_info.include? "byron" %>
     <%= "Byron wallets: #{wallets.size} " if path_info.include? "byron" %>
     <small>
       <a href="<%= (path_info.include? "byron") ? byron_ep : shelley_ep %>">refresh</a>
     </small>
       |
     <small>
       <a href="<%= (path_info.include? "byron") ? "#{byron_ep}-create" : "#{shelley_ep}-create" %>">create</a>
     </small>
       |
     <small>
       <a href="<%= (path_info.include? "byron") ? "#{byron_ep}-create-many" : "#{shelley_ep}-create-many" %>">create many</a>
     </small>
       |
     <small>
       <a href="<%= (path_info.include? "byron") ? "#{byron_ep}-delete-all" : "#{shelley_ep}-delete-all" %>">delete all</a>
     </small>
     <small><%= generate_curl(wallets) %></small>
  </div>
<%
wallets.each do |wal|
  id = wal['id']
  name = wal['name']
  status = wal['state']['status'] if wal['state']
  discovery = wal['discovery']

  wal['delegation'] ? has_delegation = true : has_delegation = false
%>

  <div class="list-group-item">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
        <a href="/<%= (path_info.include? "byron") ? "byron-wallets" : "wallets" %>/<%= id %>"><%= name %></a>
      </h5>
    </div>
    <b>Balance:</b> (Total: <%= as_ada wal['balance']['total']['quantity'] if wal['balance'] %>
                           , Available: <%= as_ada wal['balance']['available']['quantity'] if wal['balance'] %>
                           <%= ", Rewards: #{as_ada wal['balance']['reward']['quantity']}" if wal['balance']['reward'] %>)
    <br/>
    <%= render_assets(wal) %>
    <small><b>ID:</b> <%= id %></small><br/>
    <small>
      <b>Status:</b>
        <%= render_wal_status status, wal %>
    </small><br/>
    <small>
      <b>Tip:</b> (Height: <%= wal['tip']['height']['quantity'] if wal['tip'] %>
                  , Epoch: <%= wal['tip']['epoch_number'] if wal['tip'] %>
                  , Slot: <%= wal['tip']['slot_number'] if wal['tip'] %>)
    </small><br/>
    <% if discovery %>
    <small>
      <b>Address discovery:</b> <%= discovery %>
    </small>
    <% end %>
<br/>
    <%# Display this only for Shelley wallets %>
    <% if has_delegation
        active_delegation = wal['delegation']['active']
        next_delegation = wal['delegation']['next']
    %>
      <small><b>Delegation active:</b><br/>
        &nbsp;&nbsp;<b>Status:</b> <%= render_deleg_status active_delegation['status']%>
        <%= active_delegation['status'] == "delegating" ? "<br/>&nbsp;&nbsp;<b>Target:</b> #{active_delegation['target']}" : ""%>
      </small><br/>
        <% if next_delegation
            next_delegation.each do |n|
        %>
        <small><b>Delegation next:</b><br/>
          &nbsp;&nbsp;<b>Status:</b> <%= render_deleg_status n['status']%><br/>
            &nbsp;&nbsp;<b>Target:</b> <%= n['target']%><br/>
            &nbsp;&nbsp;<b>Changes at:</b><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;<b>Epoch start time:</b> <%= n['changes_at']['epoch_start_time']%><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;<b>Epoch number:</b> <%= n['changes_at']['epoch_number']%>
          </small><br/>
        <%  end
          end %>
    <% end %>

  </div>

<%
  end
%>
</div>
